.header-wraper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
}
.nav-ul {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: blue;
}
.nav-li {
  margin-right: 30px;
}

/* section 1 */

.section-wraper-block {
  display: flex;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
}
.left-block {
  margin-top: 289px;
  margin-left: 132px;
  width: 602px;
}
.right-block {
  margin-right: 80px;
  margin-top: 266px;
  width: 800px;
}
.title {
  font-size: 78px;
  margin-bottom: 27px;
  color: #534d4d;
}
.button {
  margin-top: 83px;
  width: 264px;
  height: 77px;
  background-color: blue;
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button p {
  margin-left: 30px;
  color: white;
}

/* section 2 */
.section-container {
  width: 1920px;
  margin: 0 auto;
}
.line1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.line2 {
  display: flex;
  justify-content: space-between;
}
.block {
  width: 370px;
  height: 451px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block h3 {
  color: white;
  margin-top: 46px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}
.block p {
  width: 328px;
  text-align: center;
  color: white;
  margin-top: 12px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.orange {
  background-color: #fbba77;
}
.lightblue {
  background-color: #41eae3;
}
.purple {
  background-color: #69529f;
}
.blue {
  background-color: #4386d2;
}
.lightpurple {
  background-color: #a5a2f6;
}
.red {
  background-color: #ff8088;
}
.section-text {
  width: 712px;
  margin: 0 auto;
  text-align: center;
}
.section-text h1 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: blue;
  margin-top: 76px;
}
.section-text h2 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  margin-top: 12px;
}
.section-text p {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  margin-bottom: 67px;
}
.read {
  width: 130px;
  height: 45px;
  border: 2px solid white;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: white;
  font-family: "Lato", sans-serif;
}
.read:hover {
  background-color: white;
  color: black;
}
